﻿@model IEnumerable<Track>

<ul class="list-group">
    @foreach (var track in Model) {
    var photo = await Component.InvokeAsync("Link", new { key = track.Album.Photo });

    <li class="list-group-item track">
        <div class="track__cover">
            <img class="track__album-cover img-circle" src="@photo" />
        </div>
        <div class="track__name">
            <a asp-controller="track" asp-action="get" asp-route-id="@track.Id" class="track__title link">@track.Name</a>
            <div class="track__performer">
                <a asp-controller="performer" asp-action="get" asp-route-id="@track.Performer.Id" class="link">@track.Performer.Name</a>
            </div>
        </div>
        <div class="play__section">
            <button type="button" class="btn btn-lg button__play" data-key="@track.Key" data-state="pause">
                <i class="glyphicon glyphicon-play" style="color: black"></i>
            </button>
        </div>
    </li>
    }
</ul>
