﻿@model Objects

<div class="panel panel-default" style="width:100%;">
    <div class="panel-heading">
        <span>Треки</span>
        <a id="tracks_link" data-toggle="pill" href="#cs-ajax-tracks" class="link" data-pill-id="#tracks_pill" style="float:right">Все треки</a>
    </div>
    @await Component.InvokeAsync("Tracks", new { tracks = Model.Tracks, page = 1, size = 7 })
</div>

<div class="panel panel-default" style="width:100%;">
    <div class="panel-heading">
        <span>Исполнители</span>
        <a id="performers_link" data-toggle="pill" href="#cs-ajax-performers" class="link" data-pill-id="#performers_pill" style="float:right">Все исполнители</a>
    </div>
    <div class="panel-body">
        @await Component.InvokeAsync("Performers", new { performers = Model.Performers, page = 1, size = 6 })
    </div>
</div>

<div class="panel panel-default" style="width:100%;">
    <div class="panel-heading">
        <span>Альбомы</span>
        <a id="albums_link" data-toggle="pill" href="#cs-ajax-albums" class="link" data-pill-id="#albums_pill" style="float:right">Все альбомы</a>
    </div>
    <div class="panel-body">
        @await Component.InvokeAsync("Albums", new { albums = Model.Albums, page = 1, size = 12 })
    </div>
</div>