﻿@model Performer

@{
    ViewBag.Title = Model.Name;
}

<div>
    <div class="page-performer">
        <div class="performer-pics">
            <img class="performer-pics__pic" src="@await Component.InvokeAsync("Link", new { key = Model.Photo })" />
        </div>
        <div class="page-performer__info">
            <div class="stamp">
                <span class="stamp__title">Исполнитель</span>
            </div>
            <h1 class="page-performer__title">@Model.Name</h1>
            <div class="page-performer__summary">@await Html.PartialAsync("_Genres", Model.Genres)</div>
            <div class="page-performer__desc">@Model.Description</div>
        </div>
        <div class="page-performer__tabs">
            <div class="tabs">
                <div class="tabs__tab tabs__tab_current">
                    <a data-toggle="tab" href="#tracks" class="link">Треки</a>
                </div>
                <div class="tabs__tab">
                    <a data-toggle="tab" href="#albums" class="link">Альбомы</a>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tracks" class="tab-pane fade in active">
                <div class="page-performer__subhead">
                    <div class="title">
                        <span class="title__label">Треки</span>
                    </div>
                </div>
                <div class="page-performer__tracks">
                    <div class="table-head" style="color: #999">
                        <span style="position: absolute; left: 1.4%">#</span>
                        <span class="" style="position: absolute; left:10%">Название трека</span>
                        <span class="" style="position: absolute; left:40%">Альбом</span>
                    </div>
                    <div>
                        <div style="position: relative">
                            @{
                                foreach (var track in Model.Tracks) {
                                    <div class="performer__track">
                                        <button type="button" class="btn btn-s button__play" data-key="@track.Key" data-state="pause">
                                            <i class="glyphicon glyphicon-play" style="color: black"></i>
                                        </button>
                                        <span style="position: absolute; left: 10%">
                                            <a asp-controller="track" asp-action="get" asp-route-id="@track.Id" class="link">
                                                @track.Name
                                            </a>
                                        </span>
                                        <span style="position: absolute; left: 40%">
                                            <a asp-controller="album" asp-action="get" asp-route-id="@track.Album.Id" class="link link_mute">
                                                @track.Album.Name
                                            </a>
                                        </span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div id="albums" class="tab-pane fade">
                <div class="page-performer__subhead">
                    <div class="title">
                        <span class="title__label">Альбомы</span>
                    </div>
                </div>
                <div style="margin-left: -22px">
                    @await Component.InvokeAsync("Albums", new { albums = Model.Albums, page = 1, size = Model.Albums.Count() })
                </div>
            </div>
        </div>
    </div>
</div>