﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - JukeBox</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="home" asp-action="index" class="navbar-brand">JukeBox</a>
            </div>
            <div class="navbar-collapse collapse">
                <form asp-controller="home" asp-action="search" class="navbar-form navbar-left" method="get">
                    <div class="input-group">
                        <input name="text" type="text" class="search-query form-control" placeholder="Трек, альбом, исполнитель" value="@ViewBag.Text" style="min-width:380px" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a asp-controller="genre" asp-action="all">Жанры</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="home" asp-action="about">About</a></li>
                    <li><a asp-controller="home" asp-action="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="centerblock-wrapper" style="margin-top: -12px">
            <div class="centerblock">
                @RenderBody()
            </div>
        </div>
        <div>
            <audio id="player" class="audio__player" controls>
                <source id="player__source" src="" />
            </audio>
        </div>
    </div>

    <environment names="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery/dist/jquery-unobtrusive-ajax.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/jquery/dist/jquery-unobtrusive-ajax.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        function handle() {
            helper($("#cs-ajax-tracks,#genre-content").find(".button__play"))
        }

        function helper(buttons) {
            buttons.each(function () {
                var button = $(this);
                var key = button.attr("data-key");
                var player = document.getElementById("player");

                setPlayIcon();

                if (key == player.getAttribute("data-current")) {
                    player.onended = setPlayIcon;
                    player.onabort = setPlayIcon;
                    player.onplay = setPauseIcon;
                    player.onpause = setPlayIcon;

                    if (player.played && !player.paused) {
                        setPauseIcon();
                    }

                    return false;
                }

                function setPauseIcon() {
                    button.children().removeClass("glyphicon-play").addClass("glyphicon-pause")
                }

                function setPlayIcon() {
                    button.children().removeClass("glyphicon-pause").addClass("glyphicon-play");
                }
            })

        }

        $(document).on("click", ".button__play", function () {
            var button = $(this);
            var key = button.attr("data-key");
            var player = document.getElementById("player");

            if (key == player.getAttribute("data-current")) {
                if (player.paused) {
                    player.play();
                } else {
                    player.pause();
                }

                return;
            }

            $.ajax({
                url: "@Url.Action("link", "home")",
                method: "GET",
                data: "key=" + key,
                dataType: "html"
            }).done(function (response) {
                player.src = response;
                setPauseIcon();

                setTimeout(function () {
                    player.setAttribute("data-current", key);
                    player.play();

                    player.onended = setPlayIcon;
                    player.onabort = setPlayIcon;
                    player.onplay = setPauseIcon;
                    player.onpause = setPlayIcon;

                }, 64)
            })

            function setPauseIcon() {
                button.children().removeClass("glyphicon-play").addClass("glyphicon-pause")
            }

            function setPlayIcon() {
                button.children().removeClass("glyphicon-pause").addClass("glyphicon-play");
            }
        })

        $(".tabs__tab").click(function () {
            $(".tabs__tab_current").removeClass("tabs__tab_current");
            $(this).addClass("tabs__tab_current");
        })
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
