﻿@model Objects

@{
    ViewBag.Title = "Search Page";
    var performers = Model.Performers;
    var albums = Model.Albums;
    var tracks = Model.Tracks;
}

<ul class="nav nav-pills" style="margin-bottom:16px">
    <li class="active">
        <a href="#cs-ajax-all" data-toggle="pill">Всё</a>
    </li>
    <li id="performers_pill">
        <a href="#cs-ajax-performers" data-toggle="pill">Исполнители - @performers.Count()</a>
    </li>
    <li id="albums_pill">
        <a href="#cs-ajax-albums" data-toggle="pill">Альбомы - @albums.Count()</a>
    </li>
    <li id="tracks_pill">
        <a href="#cs-ajax-tracks" data-toggle="pill">Треки - @tracks.Count()</a>
    </li>
</ul>

<div class="tab-content">
    <div id="cs-ajax-all" class="tab-pane fade in active">
        @await Component.InvokeAsync("All", new { model = Model })
    </div>
    <div id="cs-ajax-performers" class="tab-pane fade">
        @await Html.PartialAsync("_Performers", performers);
    </div>
    <div id="cs-ajax-albums" class="tab-pane fade">
        @await Html.PartialAsync("_Albums", albums);
    </div>
    <div id="cs-ajax-tracks" class="tab-pane fade">
        @await Html.PartialAsync("_Tracks", tracks);
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var observer = new MutationObserver(function (mutations) {
            mutations.some(function (mutation) {
                if ($(mutation.target).hasClass("in")) {
                    console.log(mutation.target);
                    console.log(mutation.type);
                    var buttons = $(mutation.target).find(".button__play");
                    helper(buttons);
                    return true;
                }
            });
        });

        observer.observe($("#cs-ajax-tracks")[0], {
            attributes: true
        });
        observer.observe($("#cs-ajax-all")[0], {
            attributes: true
        });

        $("#tracks_link,#albums_link,#performers_link").click(function () {
            $(".nav-pills").find(".active").removeClass("active");
            $($(this).attr("data-pill-id")).addClass("active");
        });
    </script>
}
