﻿@model IEnumerable<Performer>

<div class="panel-body">
    @await Component.InvokeAsync("Performers", new { performers = Model, page = ViewBag.Page, size = ViewBag.PerPage })
</div>

<div class="text-center">
    <cs-pager cs-pagenumber-param="page" cs-paging-pagenumber="@ViewBag.Page" cs-paging-pagesize="@ViewBag.PerPage"
              cs-paging-totalitems="@Model.Count()" cs-paging-maxpageritems="4" cs-ajax-target="#genre-content"
              asp-controller="genre"
              asp-action="get" asp-route-id="@ViewBag.Id" asp-route-type="performers"></cs-pager>
</div>
