﻿@model IEnumerable<Track>

@await Component.InvokeAsync("Tracks", new { tracks = Model, page = ViewBag.Page, size = ViewBag.PerPage })

<div class="text-center">
    <cs-pager cs-pagenumber-param="page" cs-paging-pagenumber="@ViewBag.Page" cs-paging-pagesize="@ViewBag.PerPage"
              cs-paging-totalitems="@Model.Count()" cs-paging-maxpageritems="4" cs-ajax-target="#genre-content" cs-ajax-success="handle"
              asp-controller="genre" asp-action="get" asp-route-id="@ViewBag.Id" asp-route-type="tracks"></cs-pager>
</div>