﻿@model IEnumerable<Performer>

@foreach (var performer in Model) {
    var photo = await Component.InvokeAsync("Link", new { key = performer.Photo });

    <div class="performer">
        <div class="performer__content">
            <div class="performer__cover">
                <img class="performer__cover-img img-circle" src="@photo" />
            </div>
            <div class="performer__name">
                <a asp-controller="performer" asp-action="get" asp-route-id="@performer.Id" class="link">@performer.Name</a>
            </div>
            <div class="performer__summary">@await Html.PartialAsync("_Genres", performer.Genres)</div>
        </div>
    </div>
}