﻿body {
    background: #f6f5f3;
}

body, table {
    font: 13px Arial,Helvetica,sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.page-root {
    min-width: 840px;
    max-width: 1440px;
    margin: 0 auto;
    background: #fff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 64px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.link {
    color: black;
}

    .link:hover {
        color: red !important;
    }

.link_mute {
    color: #999;
}

a.link {
    text-decoration: none;
}

.track {
    padding: 16px 32px;
    height: 81px;
}

.track__title {
    color: black;
    font-weight: bold;
}

.track__name {
    margin-top: 5px;
    margin-left: 75px;
}

.track__cover {
    top: 7px;
    left: 15px;
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
}

.track__album-cover {
    display: block;
    width: 64px;
    height: 64px;
}

.track__performer {
    margin-top: 8px;
}

.button__play.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    background-color: gold !important;
}

.button__play.btn-s {
    width: 32px;
    height: 32px;
    padding: 4px 4px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 16px;
    background-color: gold !important;
}

.play__section {
    position: absolute;
    right: 16px;
    top: 13px;
    height: 100%;
}

.audio__player {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 59.5%;
    height: 60px;
    z-index: 13;
}

.performer {
    width: 33%;
    float: left;
}

.content {
    outline: 1px solid #e6e6e6;
    padding: 15px;
    margin: 0 16px 30px 16px;
}

.performer__cover {
    position: relative;
    text-align: center;
    line-height: 198px;
    height: 200px;
}

.performer__cover-img {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 14%;
}

.performer__name {
    margin-right: 40px;
    margin-top: 12px;
    font: bold 15px/21px Arial,Helvetica,sans-serif;
    line-height: 18px;
    height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.performer__summary {
    color: #999;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 15px;
}

.album {
    position: relative;
    width: 230px;
    height: 298px;
    padding: 0;
    margin: 0 15px 0 10px;
    margin-top: 15px;
    display: inline-block;
    font: 13px Arial,Helvetica,sans-serif;
    vertical-align: top;
}

.album__cover {
    width: 230px;
    height: 230px;
    display: block;
}

.album__title, .album__performer, .album__year {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album__title {
    font: 15px/21px Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin: 7px 0 3px;
}

.album__year {
    margin-top: 4px;
    color: #999;
}

.centerblock {
    padding: 30px 30px 60px;
    min-height: 860px;
}

.performer-pics {
    white-space: nowrap;
    width: 150px;
    height: 150px;
    position: absolute;
    display: inline-block;
    margin: 0 40px 0 25px;
    line-height: 145px;
    text-align: center;
}

    .performer-pics .performer-pics__pic {
        left: 0;
        top: 0;
    }

    .performer-pics .performer-pics__pic {
        position: absolute;
        background-position: top center;
        background-size: cover;
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }

    .performer-pics .performer-pics__pic_0 {
        top: 0;
        left: 0;
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }

    .performer-pics .performer-pics__desc {
        position: absolute;
        bottom: -18px;
        left: 0;
        font: 11px/21px Arial,Helvetica,sans-serif;
        color: #999;
        width: 100%;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.page-performer__info {
    margin-left: 230px;
    min-height: 150px;
}

.stamp {
    margin-bottom: 10px;
    font: 11px/21px Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
}

.stamp__title {
    color: #999;
    text-transform: uppercase;
}

.page-performer__title {
    font: 28px/32px Arial,Helvetica,sans-serif;
    margin-bottom: 7px;
}

.page-performer__summary {
    color: #999;
}

.page-performer__desc {
    margin: 18px 0;
    max-width: 512px;
}

.page-performer__tabs {
    position: relative;
}

.tabs {
    margin: 16px -30px;
    padding: 0 30px;
    box-shadow: 0 -1px 0 0 #e5e5e5 inset;
}

.page-performer__tabs .tabs {
    padding-right: 210px;
}

.tabs__tab {
    display: inline-block;
    position: relative;
    height: 42px;
    margin-right: 30px;
    font: 13px Arial,Helvetica,sans-serif;
    line-height: 42px;
    outline: 0;
    border-bottom: 2px solid transparent;
}

    .tabs__tab:last-child {
        margin-right: 0;
    }

.tabs__tab_current {
    border-bottom-color: #000;
}

.tabs__tab .link {
    display: inline-block;
}

.tabs__note {
    color: #999;
    font-weight: normal;
}

.page-performer__subhead {
    position: relative;
    margin: 25px 0 0;
    font: 22px/24px Arial,Helvetica,sans-serif;
}

.title {
    margin: 2px 0 12px;
    position: relative;
    font: 18px/27px Arial,Helvetica,sans-serif;
    line-height: 25px;
    height: 25px;
}

.page-performer__tracks {
    /*margin: -12px -15px 0 -15px;*/
}

.table-head {
    position: relative;
    height: 36px;
}

.table-head__column {
    color: #999;
    display: inline-block;
    height: 36px;
    line-height: 35px;
    padding-right: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-head__column_1 {
    width: 10%;
}

.table-head__column_2 {
    width: 20%;
}

.table-head__column_3 {
    width: 30%;
}

.table-head__column_4 {
    width: 40%;
}

.table-head__column_5 {
    width: 50%;
}

.table-head__column_6 {
    width: 60%;
}

.table-head__column_7 {
    width: 70%;
}

.table-head__column_8 {
    width: 80%;
}

.table-head__column_9 {
    width: 90%;
}

.table-head__column_10 {
    width: 100%;
}

.table-head__column_id {
    position: absolute;
    left: 0;
    right: 0;
    width: 46px;
    text-align: center;
}

.table-head__column_postid {
    padding-left: 46px;
}

.table-head__link {
    display: inline-block;
    height: 100%;
}

.table-head__column_sort .icon {
    vertical-align: sub;
    opacity: .3;
}

.table-head__column_active .icon, .table-head__column_sort:hover .icon {
    opacity: 1;
}

.table-head__column_sort:hover {
    color: #000;
}

.table-head__column_active .table-head__sort-dir {
    background-color: #ffeba0;
}

.table-head__link {
    display: inline-block;
    height: 100%;
}

    .table-head__link, .table-head__link:hover {
        color: inherit;
        text-decoration: none;
    }

.table-head__sort-dir {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-left: 4px;
    border-radius: 3px;
    vertical-align: middle;
}

    .table-head__sort-dir .icon.icon_size_S {
        width: 8px;
        height: 8px;
        margin: 8px;
    }

.icon {
    display: inline-block;
    background: center center no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
}

.centerblock-wrapper {
    position: relative;
    padding: 0 0 65px 0;
    width: 100%;
    box-shadow: 1px 0 0 0 #f0f0f0;
    background: #fff;
}

.performer__track {
    position: relative;
    overflow: hidden;
    font: 13px Arial,Helvetica,sans-serif;
    line-height: 38px;
    height: 38px;
    cursor: pointer;
}

.nav__subnav {
    display: none;
    padding: 0px;
    background: #fff;
}

.nav__sub-item {
    display: inline-block;
    margin: 5px;
}

.button__label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    padding: 0 13px;
}

.button {
    height: 28px;
    font: 13px Arial,Helvetica,sans-serif;
    line-height: 27px;
    cursor: pointer;
    background: #fff;
    background-clip: padding-box !important;
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 3.1px;
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    color: #000 !important;
    white-space: nowrap;
    outline: 0;
}

    .button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    .button:hover {
        border-color: rgba(0,0,0,0.3);
    }

    .button:focus {
        border-color: #ffdb4d;
        box-shadow: inset 0 0 0 1px #ffdb4d;
    }

    .button:active {
        border-color: rgba(0,0,0,0.3);
        background: #f6f5f3;
        box-shadow: none;
    }


.button_checked {
    background: #ffeba0;
    border-color: rgba(153,122,0,0.5);
}

.page-genre {
    margin-top: 0;
}

.page-album__head {
    padding-left: 229px;
    margin-bottom: 29px;
    position: relative;
    min-height: 200px;
}

    .page-album__head .album-cover {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
    }

    .page-album__head .album-cover_empty {
        cursor: auto;
    }

.album-cover {
    display: block;
    outline: solid 1px rgba(0,0,0,0.2);
    outline-offset: -1px;
}

.album-cover_size_XL {
    width: 280px;
    height: 280px;
}

.album-cover_size_L, .album-cover_size_M {
    width: 200px;
    height: 200px;
}

.album-cover_size_S {
    width: 50px;
    height: 50px;
}

.page-album__title {
    font: 28px/32px Arial,Helvetica,sans-serif;
    margin-bottom: 6px;
}

    .page-album__title h1 {
        display: inline;
    }

.page-album__subtitle {
    font: 18px/27px Arial,Helvetica,sans-serif;
    color: #666;
    margin-top: 26px;
}

.page-album__version {
    color: #999;
}

.album-summary__group {
    margin: 5px 0 17px;
}

.album-summary__item {
    color: #999;
}

.separator {
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: -2px 6px 0;
    content: '';
    overflow: hidden;
    vertical-align: middle;
    background-color: #90b8dc;
}

.page-album__tracks {
    margin: 0 -15px;
}

.album__track {
    position: relative;
    overflow: hidden;
    font: 13px Arial,Helvetica,sans-serif;
    line-height: 38px;
    height: 38px;
    cursor: pointer;
}

.track__wrap {
    position: absolute;
    padding-left: 5px;
    right: 0;
    left: -1px;
}

.page-search__switch {
    margin-bottom: 16px;
}
