﻿<div class="page-genre">
    <div class="tabs">
        <div id="tab-performers" class="tabs__tab @if (ViewBag.Type == "performers") { <text>tabs__tab_current</text> }">
            <a asp-controller="genre" asp-action="get" asp-route-id="@ViewBag.Id" asp-route-type="performers"
               data-ajax="true" data-ajax-mode="replace" data-ajax-update="#genre-content" class="link">Исполнители</a>
        </div>
        <div id="tab-albums" class="tabs__tab @if (ViewBag.Type == "albums") { <text>tabs__tab_current</text> }">
            <a asp-controller="genre" asp-action="get" asp-route-id="@ViewBag.Id" asp-route-type="albums"
               data-ajax="true" data-ajax-mode="replace" data-ajax-update="#genre-content" class="link">Альбомы</a>
        </div>
        <div id="tab-tracks" class="tabs__tab @if (ViewBag.Type == "tracks") { <text>tabs__tab_current</text> }">
            <a asp-controller="genre" asp-action="get" asp-route-id="@ViewBag.Id" asp-route-type="tracks"
               data-ajax="true" data-ajax-mode="replace" data-ajax-update="#genre-content" data-ajax-success="handle" class="link">Треки</a>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Genre", new { id = ViewBag.Id, type = ViewBag.Type })