﻿@model IEnumerable<Genre>

@{
    ViewBag.Title = "Музыка всех жанров";
}

<div class="nav__subnav" style="display: block;">
    @foreach (var genre in Model) {
        <div class="nav__sub-item">
            <a asp-controller="genre" asp-action="get" asp-route-id="@genre.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#genre-content"
               data-ajax-success="onGenreChanged" class="button @if (ViewBag.Id == genre.Id) { <text>button_checked</text> }">
                <span class="button__label">@genre.Name</span>
            </a>
        </div>
    }
</div>

<div id="genre-content">
    @await Html.PartialAsync("_Get")
</div>


@section scripts {
    <script type="text/javascript">
        function onGenreChanged() {
            $(".nav__subnav").find(".button_checked").removeClass("button_checked");
            $(this).addClass("button_checked");
        }
    </script>
}