﻿@model IEnumerable<Album>

@foreach (var album in Model) {
    var photo = await Component.InvokeAsync("Link", new { key = album.Photo });

    <div class="album">
        <img class="album__cover" src="@photo" />
        <div class="album__title">
            <a asp-controller="album" asp-action="get" asp-route-id="@album.Id" class="link">@album.Name</a>
        </div>
        <div class="album__performer">
            <a asp-controller="performer" asp-action="get" asp-route-id="@album.Performer.Id" class="link">@album.Performer.Name</a>
        </div>
        <div class="album__year">@album.Date.Year</div>
    </div>
}