﻿@model Album

@{
    ViewBag.Title = Model.Name;
}

<div class="page-album">
    <div class="page-album__head">
        <img class="album-cover album-cover_size_L" src="@await Component.InvokeAsync("Link", new { key = Model.Photo })" />
        <div class="stamp">
            <span class="stamp__title">Альбом</span>
        </div>
        <div class="page-album__title">
            <h1>@Model.Name</h1>
        </div>
        <div class="album-summary">
            <span class="album-summary__item">Исполнитель:</span>
            <span>@Model.Performer.Name</span>
            <div class="album-summary__group album-summary__item">
                @Model.Date.Year
                <span class="separator"></span>
                @await Html.PartialAsync("_Genres", Model.Genres)
            </div>
        </div>
    </div>
    <hr />
    <div class="page-album__tracks">
        @foreach (var track in Model.Tracks) {
            <div class="performer__track">
                <button type="button" class="btn btn-s button__play" style="margin-right: 15px; margin-left: 13px" data-key="@track.Key" data-state="pause">
                    <i class="glyphicon glyphicon-play" style="color: black"></i>
                </button>
                <span>
                    <a asp-controller="track" asp-action="get" asp-route-id="@track.Id" class="link">
                        @track.Name
                    </a>
                </span>
                <span style="color: #999; margin-right: 5px; margin-left: 5px">-</span>
                <span style="color: #999">
                    <a asp-controller="performer" asp-action="get" asp-route-id="@Model.Performer.Id" class="link link_mute">
                        @Model.Performer.Name
                    </a>
                </span>
            </div>
        }
    </div>
    <hr />
    <div class="page-performer__subhead">
        <div class="title">
            <span class="title__label">Все альбомы исполнителя</span>
        </div>
    </div>
    <div style="margin-left: -22px">
        @await Component.InvokeAsync("Album", new { id = Model.Performer.Id })
    </div>
</div>